@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --headerButtonColor: #F78154;
    --primary: #00b894;
    --primaryContent: #ffffff;
    --secondary: #ffebb7;
    --secondaryContent: #171717;
    --whiteContent: #171717;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-content: var(--primaryContent);
    --color-secondary: var(--secondary);
    --color-secondary-content: var(--secondaryContent);
    --color-headerButton: var(--headerButtonColor);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-white-content: var(--whiteContent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
